<%= render :partial => 'admin/yandex_markets/shared/configuration_menu' %>

<%= content_tag :h3, t('configure_yandex_market.ware_property'), :class => "name" %>

<% form_tag(admin_yandex_markets_path, :method => :put) do -%>
  <ul>
    <% ["type_prefix","vendor", "model", "vendor_code",
       "country_of_manufacturer", "manufacturer_warranty", "wares_type" ].each do |property| -%>
    <li>
      <label for="preferences_preferred_<%= property%>">
        <%= t("configure_yandex_market.#{property}") %>:
      <%= select_tag("preferences[preferred_#{property}]",
          options_for_select(@properties.collect{ |u| ["#{u.presentation} (#{u.name})", u.name] }.unshift([nil, nil]), @config.send("preferred_#{property}".to_sym), :include_blank => true)) -%>
      </label>
    </li>
    <% end -%>
  </ul>

<p class="form-buttons">
  <%= button t('update') %> 
  <%= t("or") %> <%= link_to t("cancel"), admin_yandex_markets_url %>
</p>
<% end -%>
